html{
  scroll-snap-type: y mandatory;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  height: 100dvh;
  display: flex;  
  justify-content: center;
  background-color: black;
}

.app_videos{
  border: 1px solid black;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

.app_videos::-webkit-scrollbar{
  display: none;
}

.app_videos{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media only screen and(max-width: 600px){
  .app_videos{
    width: 100dvw;
    height: 100dvw;
  }
}