html{
  scroll-snap-type: y mandatory;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  height: 100dvh;
  display: flex;  
  justify-content: center;
}

.app_videos{
  height: 100%;
  max-height: 800px;
  width: 100vw;
  max-width: 80vw;
  border: 1px solid black;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

.app_videos::-webkit-scrollbar{
  display: none;
}

.app_videos{
  scrollbar-width: none;
  -ms-overflow-style: none;
}